[filter "lfs"]
    required = true
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
[user]
    name = sjung
#   email =
[color]
    ui = auto
[core]
    editor = /Applications/Sublime\\ Text.app/Contents/SharedSupport/bin/subl -n -w
[alias]
    logg = log --graph --decorate --oneline --abbrev-commit --all
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    got = git

[push]
    default = simple
